@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://unpkg.com/modern-css-reset/dist/reset.min.css");

:root {
  --color-primary-cyan: hsl(192, 37%, 48%);
  --color-primary-purple: hsl(268, 34%, 53%);
  --color-primary-black: hsl(240, 21%, 20%);
  --color-primary-gray: hsl(240, 10%, 57%);

  --color-neutral-cyan: hsl(192, 90%, 77%);
  --color-neutral-purple: hsl(268, 100%, 86%);
  --color-neutral-white: hsl(0, 0%, 98%);

  --font-primary: "Red Hat Display", sans-serif;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: var(--color-neutral-white);
  color: var(--color-primary-gray);
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.4;
}

:is(h1, h2, h3) {
  font-weight: 900;
  line-height: 1;
  color: var(--color-primary-black);
}

.img-center {
  display: none;
}

.btn:link,
.btn:visited {
  text-decoration: none;
  border-radius: 3.125rem;
  color: #fff;
  font-weight: 900;
  padding: 1rem 2.5rem;
  min-width: fit-content;
  transition: background-color 150ms ease 0s, color 150ms ease 0s;
}

.btn--primary {
  background-color: var(--color-primary-cyan);
}

.btn.btn--primary span {
  color: var(--color-neutral-cyan);
}

.btn--primary:hover,
.btn--primary:active {
  background-color: hsl(192, 54%, 64%);
}

.btn--secondary {
  background-color: var(--color-primary-purple);
}

.btn.btn--secondary span {
  color: var(--color-neutral-purple);
}

.btn--secondary:hover,
.btn--secondary:active {
  background-color: hsl(267, 54%, 71%);
}

.container {
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.header {
  margin-bottom: 6.875rem;
}

.header__logo {
  margin: 5rem auto 3.8125rem auto;
}

.header__intro {
  text-align: center;

  min-height: 22.375rem;
  margin-left: -1.875rem;
  margin-right: -1.875rem;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 6.111vw;
}

.header__intro .img-left {
  justify-self: start;
  align-self: start;
}

.header__intro .img-right {
  justify-self: end;
  align-self: end;
}

.header__intro .headline {
  font-size: clamp(2.5rem, 4vw, 4rem);
  margin-bottom: 2.125rem;
  padding: 0 2rem;
}

.header__intro .description {
  margin-bottom: 2rem;
}

.header__intro .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.divider {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 8.75rem;
}

.divider__line {
  width: .0625rem;
  height: 100%;
  transform-origin: top center;
  background-color: var(--color-primary-gray);
}

.divider__circle {
  width: 3.5rem;
  height: 3.5rem;
  border: 1px solid var(--color-primary-gray);
  border-radius: 50%;
  background: var(--color-neutral-white);

  flex-shrink: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.divider__text {
  color: var(--color-primary-gray);
  font-size: 1rem;
  font-weight: 900;
  line-height: 1.625;
}

.main__content-wrap {
  margin-top: 4rem;
  margin-bottom: 4.5rem
}

.main .content__images {
  list-style-type: none;
  padding: 0;
  margin: 0;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.875rem;
}

.main .content__images .img {
  border-radius: .25rem;
}

.main .content__text {
  margin-top: 5rem;
  text-align: center;
  max-width: 32.5rem;
  margin-left: auto;
  margin-right: auto;
}

.main .content__text .overline {
  text-transform: uppercase;
  letter-spacing: .25rem;
  font-weight: 900;
  color: var(--color-primary-cyan);
}

.main .content__text .headline {
  margin-top: 1rem;
  padding: 0 2.1875rem;
  font-size: clamp(2.25rem, 4vw, 2.5rem);
}

.main .content__text .description {
  margin-top: 2rem;
}

.footer {
  background: linear-gradient(
      hsl(192, 37%, 48%, 0.85),
      hsl(192, 37%, 48%, 0.85)
    ),
    url(/assets/desktop/image-footer.jpg);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-color: var(--color-primary-cyan);
  margin-top: -1.5625rem;
}

.footer .footer__content-wrap {
  padding-top: 7.25rem;
  padding-bottom: 6.5rem;

  display: grid;
  grid-template-columns: minmax(auto, 350px) auto auto;
  align-items: center;
  justify-items: center;
  gap: 50px;
}

.footer .footer__content-wrap .headline {
  color: var(--color-neutral-white);
  font-size: clamp(2.25rem, 3.385vw, 2.5rem);
}

.footer .footer__content-wrap .description {
  color: var(--color-neutral-white);
}

.footer .footer__content-wrap .btn {
  flex-shrink: 0;
}

@media (max-width: 68.75rem) {
  .header__intro .img-left {
    align-self: center;
  }

  .header__intro .img-right {
    align-self: center;
  }
}

@media (max-width: 60.5rem) {
  .header__intro .img-left,
  .header__intro .img-right {
    display: none;
  }

  .img-center {
    display: block;
  }

  .header__intro {
    grid-template-columns: 1fr;
    gap: 4.5rem;
  }

  .footer .footer__content-wrap {
    flex-direction: column;
    text-align: center;
    gap: 2rem;
    max-width: 35.8125rem;
    margin: 0 auto;
  }

  .middle-wrapper {
    max-width: 33.75rem;
    padding-left: .125rem;
    padding-right: .125rem;
  }

  .footer {
    background: linear-gradient(
        hsl(192, 37%, 48%, 0.85),
        hsl(192, 37%, 48%, 0.85)
      ),
      url(/assets/tablet/image-footer.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
  }

  .footer .footer__content-wrap {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 34.375rem) {
  .header__intro .buttons {
    flex-direction: column;
  }

  .header__intro {
    margin-left: -0.625rem;
    margin-right: -0.625rem;
  }

  .main .content__images {
    grid-template-columns: repeat(2, 1fr);
  }

  .main .content__text .overline {
    font-size: 1.125rem;
  }

  .main .content__text .headline {
    padding: 0 0;
    font-size: 2rem;
  }

  .footer {
    background: linear-gradient(
        hsl(192, 37%, 48%, 0.85),
        hsl(192, 37%, 48%, 0.85)
      ),
      url(/assets/mobile/image-footer.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
  }
}
